body { 
  margin: 0px; 
}

video {
  background-color: #eee;
  width: 100%;
  height: 100%;
}

input {
  width: 110px;
  text-align: center;
}

button {
  width: 200px;
}

select {
  width: 110px;
}

/************************************************************************************************/
/* For grid display */
/* 

   container0
  _____________________________________________________________________________ ................ 
 |                                         |                   |               |            :
 |                                         |   container213    | container215  |            :
 |                                         |   width:50%       | width:50%     |        container210
 |      container110                       |                   |               |        height: 50%
 |      height:60%                         |  (patien-         | (controls)    |            :
 |      (Remote stream)                    |      information) | (local-stream)|            :
 |                                         |___________________|_______________|................
 |                                         |  container232                     |            :
 |                                         |  height:80%   (buttons)           |        container230
 |                                         |___________________________________|        height: 10%
 |                                         |  container234                     |            :
 |                                         |  height:20%   (messages, meta)    |            :
 |_________________________________________|___________________________________|................
 |                                         | PR w:20%  |  graph01 width:80%    | h:33%      :
 |      container150                       |-----------------------------------|....        :
 |      canvas_wrapper                     | RR w:20%  |  graph01 width:80%    | h:33%  container250
 |      height:40%                         |-----------------------------------|....    height: 40%
 |      (Waveform area)                    |SpO2 w:20% |  graph01 width:80%    | h:34%      :
 |_________________________________________|___________________________________|............:...
 :                                         :                                   :
 :        container100                     :         container200              :
 :<-------- width:55% -------------------->:<-------  width:45%  -------------->
            height:100vh (viewpoint height)

*****************************************************************************************************/

.container0 {
  display: flex;
  flex-direction: row;
}

.container100 {
  width: 55%;
  height: 100vh;
  background-color: silver;
  align-items: center;
  padding: 0px;
}

.container110 {
  height: 60%;
}

.container150 {
  height: 40%;
}

.canvas_warp{
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.canvas_warp::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;  /* Do not show scroll bars  */
}

/* ----------------------------------- */
.container200{
  width: 45%;
  display: flex;
  flex-direction: column;
}
/***************************************/
.container210{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.container213{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container215{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ----------------------------------- */
.container230{
  width: 100%;
  height: 10%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.container232{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.container234{
  width: 100%;
  height: 20%;
}

/* ----------------------------------- */
.container250{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  background-color: 80ff80;
}

/***************************************/
/* ----------------------------------- */
.parameterPR {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.dataPR {
  color: #00EE00;
  width: 20%;
  height: 100%;
  background-color: #000000;
  border: solid 5px #000000;
  box-sizing: border-box;      /* Border line in a box */
}

/* ----------------------------------- */
.parameterSpO2 {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.dataSpO2 {
  color: #FFFF00;
  width: 20%;
  height: 100%;
  background-color: #000000;
  border: solid 5px #000000;
  box-sizing: border-box;      /* Border line in a box */
}

/* ----------------------------------- */
.parameterRR {
  width: 100%;
  height: 34%;
  display: flex;
  flex-direction: row;
}
.dataRR {
  color: #00FFFF;
  width: 20%;
  height: 100%;
  background-color: #000000;
  border: solid 5px #000000;
  box-sizing: border-box;      /* Border line in a box */
}

/* ----------------------------------- */
.graph01 {
  width: 80%;
  height: 100%;
  background-color: #484848;
  border: solid 5px #000000;
  box-sizing: border-box;      /* Border line in a box */
  color: white;
}


/***********************************************************/
/* For each items */
/* ----------------------------------- */
.browserWindwos {
  overflow: hidden;
  position: relative;
}

.controls{
  width: 100%;
  height: 10%;
  padding: 10px;
}

.remote-stream {
  max-height: 100vh;
  position: relative;
}

.local-stream {
  max-height: 45vh;
  width: 100%;
  align-items: center;
  padding: 0px;
}

.remotteAudio {
  position: absolute ;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.buttonArea {
  width: 50%;
  position: absolute ;
  left: 10px;
  top: 10px;
  z-index: 1;
}

/* ----------------------------------- */
.heading {
  font-size: 20px;
  font-family: "arial";
  text-align: center;
  margin-bottom: 0;
}

.buttons {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background-color: '';
  font-size: 1.3vw;
}


/***********************************************************/
/* For parameter-view */
.note {
  font-size: 1.2vw;
  font-family: "arial";
  text-align: center;
}

.note2 {
  font-size: 2vw;
  font-family: "arial";
  text-align: center;
  font-weight: bold;
}

.data {
  font-size: 60px;
  font-family: "arial";
  text-align: left;
  font-weight: bold;
}

#canvas_wrapper {
  width: 100%;
  height: 100%;
  margin:0 auto;
  padding: 5px;
  background-color: black;
  box-sizing: border-box;      /* Border line in a box */
}

#waveformCanvas {
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: #484848;
}

