body { margin: 0px; }

video {
  background-color: #eee;
  width: 90%;
  height: 90%;
}

input{
  width: 110px;
}

button{
  width: 110px;
}

select{
  width: 110px;
}

.grid-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.heading {
  font-size: 20px;
  font-family: "arial";
  text-align: center;
  margin-bottom: 0;
}

.buttons {
  width: 80px;
  height: 50px;
}

.id-text{
  font-size: 11px
}
