body { margin: 0px; }

video {
  background-color: #eee;
  width: 90%;
  height: 90%;
}

input{
  width: 110px;
}

button{
  width: 110px;
}

select{
  width: 110px;
}

.grid-container{
  display: grid;
  grid-template-rows: 80vh 20vh;
  grid-template-columns: 4fr 1fr;
}

.remote-stream{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background: #8f8;
}

.local-stream{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: #f88;
}

.waveformCanvas{
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background: #88f;
}


.heading {
  font-size: 20px;
  font-family: "arial";
  text-align: center;
  margin-bottom: 0;
}

.buttons {
  width: 80px;
  height: 50px;
}

.id-text{
  font-size: 11px
}
